.kocag {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5)) , url(imgUKK/perpustakaan1.jpeg) ;
    background-position: center;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
    padding: 34px;
    display: flex;
    justify-content: space-around;

}
.container > h1 {
    color: white ;
    font-size: 33px;
    text-align: center;
    margin-bottom: 2rem;
}
.child {
    display: grid;
    align-content: center;
    justify-content: center;
    margin-top: 2rem;
}
.kontakkk {
    background-color: white;
    display: flex;
    width: 18rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 40px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #003161;
    font-size: 24px;
    font-weight: 800;
}
.container {
    height: 200px;
    background-color: #003161;
    width: 24rem;
    height: 30rem;
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
}
form {
    height: 200px;
    background-color: #003161;
    height: 30rem;
    padding: 36px;
    border-radius: 10px;
}

form > input {
    width: 23rem;
    height: 30px;
    margin: 0;
    border-radius: 90px;
    display: grid;
    border: none;
    margin-top: 1em;
}
.komentar {
    height: 200px;
    border-radius: 10px;
}
form > button {
    background-color: #FDDE55;
    color: white;
    width: 100%;
    height: 30px;
    margin-top: 2em;
}